# Dossiers générés par Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Fichiers de projet et solution
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.DS_Store
*.gz
*.pdf

# Fichiers auto-générés pour les Addressables (si vous les utilisez)
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*